<%- include('partials/header.ejs')%>

    <h1>Create an Assigment</h1>

    <form action="/chem/unit1" method="post">
        <section>
            <label for="title">Enter Assignment Title:</label>
            <input type="text" id="title" placeholder="New Assignment Title" name="title">
        </section>
        <section>
            <label for="unit">Select a Unit</label>
            <input type="number" id="unit" name="unit" min="1" max="5" />
        </section>
        <section>
            <label for="pdf">Comment Text</label>
            <textarea name="pdf" id="pdf" cols="1" rows="5"></textarea>
        </section>
        <button>Submit</button>
    </form>

    <%- include('partials/footer.ejs')%>