<footer>
    <button>
        <a href="https://wgsd.instructure.com/login/canvas"> <img
                src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.CanvasLogo.png"
                alt="Canvas"></a>
    </button>
    <button>
        <a
            href="https://clever.com/oauth/district-picker?channel=clever&client_id=4c63c1cf623dce82caac&confirmed=true&redirect_uri=https%3A%2F%2Fclever.com%2Fin%2Fauth_callback&response_type=code&state=073ccec89c0496afb0b1918689a1cdf1380ad0fa00287446edd93fde044263c7">
            <img src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.Clever.Logo.png"
                alt="Clever"></a>
    </button>
    <button>
        <a href="https://workspace.google.com/intl/en-US/gmail/"> <img
                src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.GmailLogo.png"
                alt="Gmail"></a>
    </button>
    <button>
        <a href="https://workspace.google.com/products/drive/"> <img
                src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.GoogleDriveLogo.png"
                alt="Google Drive"></a>
    </button>
    <button>
        <a href="https://www.webster.k12.mo.us/"> <img
                src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.WGLogo.2.png"
                alt="WGSD"></a>
    </button>
    <button>
        <a href="https://www.youtube.com/"> <img
                src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.YoutubeLogo.png"
                alt="YouTube"></a>
    </button>
    <button>
        <a href="https://www.ssdmo.org/"> <img
                src="https://raw.githubusercontent.com/worthamjh/Biology/refs/heads/main/Logos/I.SSDLogo.png"
                alt="Special School District"></a>
    </button>

</footer>

</body>

</html>